
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Russo+One&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Russo One', sans-serif;
}

body{
    background-color: black;
}
section{
    padding: 2rem 9%;
    
}

.home{
    display: flex;
    position: relative;
    padding-top: 10rem;
    justify-content: space-between;
    

}
.home h1{
    font-size: 5vw;
    color:aliceblue;

}
.home img{
    width: 30%;
    margin: 1rem 0;

}
p{
    margin-left: 2rem;
    color:aliceblue;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width:991px){
    section{
        padding: 2rem;
        
    }
    
}

